@import "../partials/sizes";
@import "../partials/colors";

header {
  position: relative;
  width: 100%;
  height: $navbar-height;

  .navbar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: $navbar-inline-padding;
    overflow-y: hidden;

    .logo {
      position: relative;
      width: max-content;
      height: max-content;
      color: $white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .icon {
        position: relative;
        margin-right: 10px;
        color: $white;
      }

      .text {
        position: relative;
        font-size: 26px;
        font-family: "Siluet", sans-serif;
        background: linear-gradient(to right, $red, $purple, $blue);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .links {
      position: relative;
      width: max-content;
      height: max-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      .link {
        position: relative;
        color: $white;
        font-family: "Clash Display", sans-serif;
        margin-inline: 10px;
        font-size: 16px;
        transition: all .2s ease-in-out;

        &::before {
          position: absolute;
          content: "";
          top: -5px;
          right: 0;
          width: 0;
          height: 2px;
          border-radius: 2px;
          background: linear-gradient(to left, $red, $purple, $blue);
          transition: all .2s ease-in-out;
        }

        &::after {
          position: absolute;
          content: "";
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          border-radius: 2px;
          background: linear-gradient(to right, $red, $purple, $blue);
          transition: all .2s ease-in-out;
        }

        &:hover {
          background: linear-gradient(to right, $red, $purple, $blue);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;

          &::before,
          &::after {
            width: 50%;
          }
        }
      }
    }

    .coming-soon {
      position: relative;
      width: max-content;
      height: max-content;
      color: $white;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      a {
        position: relative;
        width: max-content;
        height: max-content;
        padding: 10px 15px;
        font-size: 16px;
        border: 1.5px solid $white;
        box-shadow: 0px 0px 10px transparent;
        border-radius: 20px;
        font-family: "Clash Display", sans-serif;
        transition: all .2s ease-in-out;

        &:hover {
          color: $light-blue;
          text-shadow: 0px 0px 20px $light-blue;
          border: 1.5px solid $light-blue;
          box-shadow: 0px 0px 20px $light-blue;
        }
      }
    }

    .burger-btn {
      position: relative;
      width: max-content;
      height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      border: 1px solid $white;
      border-radius: 5px;
      padding: 5px 6px;
      color: $yellow;

      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }

  .mobile-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(100%);
    overflow-x: hidden;
    overflow-y: auto;
    transition: transform .3s ease-in-out;

    &.active {
      transform: translateX(0);
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }

    .logo {
      position: relative;
      width: 100%;
      height: max-content;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 15px 20px;

      .icon {
        position: relative;
        margin-right: 10px;
        color: $white;
      }

      .text {
        position: relative;
        font-size: 26px;
        font-family: "Siluet", sans-serif;
        background: linear-gradient(to right, $red, $purple, $blue);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .exit,
    .link {
      position: relative;
      width: 100%;
      height: max-content;
      padding: 10px 20px;
      margin-block: 10px;
      font-size: 16px;
      font-family: "Clash Display", sans-serif;
      color: $white;
      cursor: pointer;
    }

    .coming-soon {
      position: relative;
      width: max-content;
      height: max-content;
      padding: 10px 15px;
      margin-top: 20px;
      margin-inline: 10px;
      font-size: 14px;
      border: 1.5px solid $white;
      box-shadow: 0px 0px 10px transparent;
      border-radius: 20px;
      font-family: "Clash Display", sans-serif;
      color: $white;
    }
  }
}