@import "../partials/colors";

div.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-family: 'Clash Display';
    height: 100vh;
    padding: $hero-padding 0px;
    text-align: center;
    transition: color .2s ease-in-out;

    p { font-size: 30px; }
    h1 {
        font-size: 70px;

        .gradient {
            background: linear-gradient(to right, $red, $purple, $blue);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    @media screen and (max-width: 1024px) {
        p { font-size: 20px; }
        h1 { font-size: 40px; }
    }

    .highlight-btn {
        padding: 10px 15px;
        font-size: 16px;
        border: 1.5px solid var(--white);
        box-shadow: 0px 0px 10px transparent;
        border-radius: 20px;
        font-family: "Clash Display", sans-serif;
        transition: all .2s ease-in-out;
        background-color: transparent;
        color: var(--white);
        margin: 20px 0px;

        &:hover {
          color: $light-blue;
          text-shadow: 0px 0px 20px $light-blue;
          border: 1.5px solid $light-blue;
          box-shadow: 0px 0px 20px $light-blue;
        }
    }

    .img-container {
        margin: $hero-padding + 10px;
        position: relative;
        width: 100%;

        img:nth-child(1) { transform: translate(-150%, 0%); }
        img:nth-child(2) { transform: translate(-100%, 100%); }
        img:nth-child(3) { transform: translate(150%, 0%); width: 350px; }
        img:nth-child(4) { transform: translate(150%, 100%); }

        .float {
            position: absolute;
            width: 300px;
        }

        .game-controller { transform: rotateZ(15deg); }
    }
}