@import "../partials/colors";

div.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: 100;
    background-color: white;
}

.loaded {
    div {
        width: calc(100% / 12);
        height: 100%;
        background-color: var(--white);
        transform: translateY(0%);
        animation: post-loader steps(15) 0.7s;
    }

    @for $i from 1 to 7 {
        div:nth-child(#{$i}), div:nth-child(#{13 - $i}) {
            animation-delay: #{$i * 0.1}s;
        }
    }
}

@keyframes post-loader {
    from { transform: translateY(0%); }
    to { transform: translateY(100%); }
}