@font-face {
  font-family: "Siluet";
  src: url("/src/assets/fonts/Siluet.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("/src/assets/fonts/ClashDisplay-Variable.woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--black);
  transition: background-color .3s ease-in-out;
}